body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box{
    width: 100px;
    height: 100px;
    color: aliceblue;
    text-align: center;
    padding: 45px;
    background-color: blueviolet;
    display: inline-block;
    margin: 15px;
}
.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #000;
  display: inline-block;
  margin: 15px;
  border: 5px solid red ;
  color: antiquewhite;
  text-align: center;
}